@import 'variables';

.reset {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.center {
  width: 100%;
  display: grid;
  place-content: center;
}

html,
body {
  @extend .reset;
  @extend .center;

  width: 100vw;
  max-width: 900px;
  background-color: $Black-Inkwell;
  color: rgb(250, 250, 250);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
